<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">داشبورد </h3>
        </div>
    </div>
</div>
<!-- end:: Subheader -->

<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <!--Begin::Dashboard 7-->

    <!--Begin::Row-->
    <div class="row">
        <div class="col-12">
            <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                <div
                    class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            ثبت و ویرایش دستگاه
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">

                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fit">
                     <div class="col-xl-12">
                        <form class="form-search-plate">
                            <div class="form-group row plate-input">
                                <label class="col-1 col-form-label">شماره‌پلاک</label>
                                <div class="col-5 row">
                                    <div class="col-3">
                                        <div class="input-group">
                                            <div class="input-group-append"><span class="input-group-text" id="basic-addon2">ایران</span></div>
                                            <input type="text" class="form-control maxlength" autocomplete="off" required id="plateState" data-nextelement="plateFirstNumber" placeholder="12" maxlength="2"  max="99" aria-describedby="basic-addon2">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control maxlength" type="number" autocomplete="off" required id="plateFirstNumber" data-prevelement="plateState" data-nextelement="plateAlphabet"  max="999" placeholder="123" maxlength="3">
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control maxlength" type="text" autocomplete="off" required id="plateAlphabet" data-prevelement="plateFirstNumber" data-nextelement="plateLastNumber" placeholder="الف" maxlength="3">
                                    </div>
                                    <div class="col-3">
                                        <div class="input-group">
                                            <input class="form-control maxlength" type="number" autocomplete="off" required id="plateLastNumber" data-prevelement="plateAlphabet" placeholder="23" max="99" maxlength="2">
                                            <div class="input-group-prepend"><button class="btn btn-brand" id="clearAllField" data-toggle="kt-tooltip" data-placement="top" title="حذف تمام فیلد‌ها" type="button"><i class="kt-font-light la la-remove"></i></button></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-brand" id="searchPlate">
                                        <i class="la la-check"></i>
                                        <span class="kt-hidden-mobile">جستجو/ تمدید</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>